<div class="purpose">
    <div class="purpose-box">
        <div class="purpose-box-head">
            <h4>ПриРОДные КЦП = Кооперативные Целевые Программы</h4>
            <!-- <p>Занимаемся СоФинансиранием Адресных Проектов SkyWay по Оренбургской области начиная с 73 ГА ЭКОпосёлок на границе с Башкортостаном так и по РАсеи со своими 
                качественными:</p> -->
        </div>
        <div class="purpose-box-list">
            <ul>
                <li>1. СВАи Производства</li>
                <li>2. СВАи технологии на ЭКОдома</li>
                <li>3. СВАя Инфраструктура вместе со SkyWay</li>
                <li>4. СВАё ПРАВИльное ОБРАЗование с рАЗкрытием и монетизацией талантов</li>
                <li>5. СВАи круглогодичные туристические комплексы</li>
                <li>6. СВАи ЭКОлогичные ИНновации как в стагнирующем рынке так и в перспективном</li>
                <li>7. СВАи БлокЧейны с ИнвестФондами ☀️ИНЭКО🏡 в венчурные ЭКОстартапы</li>
                <li>8. СВАи Потреб Кооперативы</li>
                <li>9. наРОДный Клуб Здравия ☀️РОД🌳 как ПриРОДная 9 КЦП</li>
            </ul>
        </div>
    </div>
</div>
