<div class="top">
    <div class="top-box">
        <img src="assets/img/samovar.jpg" alt="samovar">
        <div>
            <h2>РОДные по Духу СоРатники и Солнечные ☀️ Друзья ☀️</h2>
            <h4> веселей наливаем ❤️ Иван Чай ❤️ с Байкала и травяные ягодные сборы 52 вида от травников 3 поколения вместе с АРТелью Потребительских Кооперативов ☀️ Дом Кипрея ☀️</h4>
            <h4>Кооперативный инфо портал ДомКипрея.рус в процессе наполнения КОНтентА от производителей Потреб Кооператива ☀️РУСинэко <a href="https://vk.com/pk_RUSineko_group">https://vk.com/pk_RUSineko_group</a> ☀️</h4>
        </div>
    </div>
</div>

