
$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

.top {
    // background: green;
    // width: 100%;
    
    padding: 10px;
    background: $color-beige;
    color: $color-dark-blue;
    display: flex;
    height: 700px;

    .top-box {
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-height: 200px;
        // background: rgb(221, 228, 238);

        img {
            width: 150px;
        }
        h4 {
            padding: 10px;
            font-size: 1rem;
        }
    }
}
@media (min-width: 1000px) { // от 1000
    .top {
        padding: 50px 300px;
    }
}
@media (max-width: 999px) and (min-width: 650px) { // от 650 до 1000
    .top {
        padding: 20px 100px;
        height: 500px;
    }
}
@media (max-width: 649px) and (min-width: 451px) { // от 650 до 1000
    .top {
        height: 450px;
    }
}
@media (max-width: 450px) { // до 450
    .top {
        height: 400px;
        .top-box {
            img {
                width: 100px;
            }
            h4 {
                font-size: 0.8rem;
            }
        }
    }
}
@media (max-width: 350px) { // до 350
    .top {
        height: 300px;
        .top-box {
            img {
                width: 100px;
            }
            h4 {
                font-size: 0.6rem;
            }
        }
    }
}