<div class="consultant" id="consultant">
    
    
    <div class="consultant__dialog" id="consultant__dialog">
        <span id="dialog">Здравствуйте, чем могу помочь?</span>
    </div>

    <div class="consultant__image" (click)="open()">
        <img src="assets/img/consultant.jpg" alt="ivan-tea">
    </div>

    <div class="consultant__title">
        <h4>Консультант Алексей</h4>
    </div>

    <div class="consultant-form" id="consultant-form">

        <div class="consultant-form__input">
            <textarea name="input" id="input" cols="30" rows="10" [(ngModel)]="message"></textarea>
        </div>

        <div class="consultant-form__button">
            <button (click)="SendMessage(message);message=''">Отправить</button>
        </div>

        <div class="consultant-form__close" (click)="close()">
            Х
        </div>

    </div>
   
</div>
