
$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px 100px;
    background: $color-ligth-blue;
    height: 700px;
    div {
        padding: 30px 0;
        font-size: 1.5rem;
    }
   
    .form-head, .form-phone, .form-insta {
        text-align: center;
        margin-bottom: 20px;
    }
    
}
@media (max-width: 700px) {
    .form {
        height: 500px;
        padding: 20px 20px;
        div {
            padding: 30px 0;
            font-size: 1rem;
        }
    }
}
@media (max-width: 350px) {
    .form {
        padding: 10px 10px;
    }
}