<div class="form">

    <div class="form-head">
        <h2>☀️ Солнечные Друзья Здравия ☀️ <br/>рады КОНкретнЫм ПАйщикам</h2>
        <a href="https://t.me/joinchat/SPwCv2JGes_3fBZ8">круглосуточно на Телеграм</a>
    </div>
    
    <div class="form-insta">

        <h4>Предлагайте свои <a href="https://ПриродныеПродукты.рус" style="color: green;">☀️ приРОДные ПРОДУКТЫ ☀️</a> в кооперативную сеть планетарного уровня и ЭКОлогичные услуги по  традициям наших предков</h4>
        <a href="https://instagram.com/domkipreyaivanchaya" style="color: green;">Круглосуточно В Инстаграм</a>
        
    </div>

    <div class="form-phone">
        <div class="form-phone_image">
            <img src="assets/img/tea.jpg" alt="tea">
        </div>

        <div class="form-phone_text">
            <h4>набиРАЙте +7(353)24-55-399</h4>
            <p>с 10 утра до 4х часов дня по Мск</p>
            <p>365 дней в году</p>
        </div>
    </div>

</div>
