<div class="form">
    <div class="form-head">
        <h4>Солнечные Друзья Здравия ☀️ рады КОНкретнЫм ПАйщикам</h4>
        <a href="https://t.me/joinchat/SPwCv2JGes_3fBZ8">круглосуточно на Телеграм</a>
    </div>

    <div class="form-phone">
        <h4>набиРАЙте +7(353)24-55-399</h4>
        <p>с 10 утра до 4 дня по Мск 365 дней в году</p>
    </div>

    <div class="form-insta">
        <h4>Предлагайте свои  ☀️🌱приРОДные ПРОДУКТЫ🌿 в кооперативную сеть планетарного уровня и ЭКОлогичные услуги по  традициям наших предков 🏡 🌿</h4>
        <a href="https://instagram.com/domkipreyaivanchaya">Круглосуточно В Инстаграм</a>
    </div>
</div>
