
$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

.co-op {
    background: $color-blue;
    color: $color-beige;
    .co-op-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        min-height: 200px;
        padding: 20px 10px;

        .co-op-box-head {
            text-align: center;
            h4 {
                padding: 10px;
                font-size: 1.5rem;
                
            }
            a {
                font-size: 1.8rem;
                padding: 10px;
                color: $color-ligth-blue;
            }
        }
        
        .co-op-box-list {}
        
    }
}