<div class="co-op">
    <div class="co-op-box">
        <div class="co-op-box-head">
            <h4>ЭКОлогичные Кооперативные Производства</h4>
            <a href="https://linesvetpro.ru">linesvetpro.ru</a>
        </div>

        <!-- <div class="co-op-box-list"></div> -->
        <!-- <img src="assets/img/ivan-tea.jpg" alt="ivan-tea"> -->
        
        <div class="co-op-box-head">
            <h4>ЭКОлогичные Комплекты ЭКОномии Топлива</h4>
            <a href="https://rusineko.ru">rusineko.ru</a>
        </div>

        

        <div class="co-op-box-head">
            <h4>Кооперативное Совместное Производство</h4>
            <a href="https://autoproduct.biz">autoproduct.biz</a>
        </div>

    </div>
</div>