
$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

* {
    margin: 0;
    padding: 0;
}

.body {
    min-height: calc(100vh - 350px);
    background: $color-ligth-blue;
    .head {
        text-align: center;
        padding: 30px;
        p {
            padding: 20px;
        }
        h1,h2,h3,h4,h5 {
            padding: 10px;
        }
    }
}
@media (max-width: 700px) {
    .body {
        min-height: calc(100vh - 270px);
        .head {
            padding: 20px;
            p {
                padding: 10px;
            }
            h1,h2,h3,h4,h5 {
                padding: 5px;
            }
        }
    }
}
@media (max-width: 350px) {
    .body {
        .head {
            padding: 10px 5px;
            p {
                padding: 5px;
            }
            h1,h2,h3,h4,h5 {
                padding: 0;
            }
        }
    }
}
