<div class="header">

    <div class="header-box">

        <div class="box">
            <div class="header-box-left">
                <h4>ВидеоОтзывы Пайщиков</h4>
            </div>
            <div class="header-box-center">
                <h4>Выгоды Пайщиков ПК 🏡Дом Кипрея🌿</h4>
            </div>
            <div class="header-box-right">
                <h4>Плюсы Электронного Пая</h4>
            </div>
        </div>

        <div class="header-box-down">
            <h4>🙏 Стать Пайщиком Кооперативная Целевая программа ФСЭП СолнцеГрад☀️🏡</h4>
        </div>

    </div>
    
</div>