$base-font-size: 16px;
$width1: 100px;
$width2: 2rem;
@function rem-to-px($size) {
    $parseInted: $size / ($size * 0 + 1);
    $value: $parseInted * $base-font-size;
    @return round($value);
}
.container-example {
    width: $width1 + rem-to-px($width2); // -> 132px
}

$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

$border: 2px;
$height: 150px - $border; // 150px - 2px border
$margin-side: 20px;

.header {
    margin: 0;
    display: flex;
    position: relative;
    width: 100%;
    // height: 200px;
    height: $height;
    // background: $color-dark-blue;
    

    .header-box {
        z-index: 20;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $height;
        border-bottom: $border solid $color-blue;
        background: $color-dark-blue;
        // color: $color-beige;
        color: $color-ligth-blue;

        display: flex;
        // flex-direction: row;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        // display: none;
        // opacity: 0.5;
        
        
        .box {
            display: flex;
            
            width: 100%;
            // margin: auto;
            margin: 10px 0;
            div {
                // flex-grow: 1;
                margin: auto;
                // flex: 1 1 auto;
                // text-align: center;
            }
            .header-box-left {
                margin-left: $margin-side;
                
            }
            .header-box-center {
                h1 {
                    // color: $color-blue;
                }
            }
            .header-box-right {
                margin-right: $margin-side;
            }
        }
        .header-box-down {
            // display: none;
            // margin: auto;
            margin: 10px 0;
        }
        .box .header-box-left, 
        .box .header-box-center, 
        .box .header-box-right,
        .header-box-down {
            border: 1px dashed grey;
            border-radius: 5px;
            padding: 0 5px;
        }
    }
    h4 {
        font-size: 1rem;
    }

    .header-menu {
        z-index: 20;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $height - 80px;
        border-bottom: $border solid $color-blue;
        background: $color-dark-blue;
        // color: $color-beige;
        color: $color-ligth-blue;

        h1 {
            padding: 15px;
        }
        img {
            width: 50px;
            background: $color-ligth-blue;
            position: fixed;
            top: 10px;
            right: 10px;
            border-radius: 10px;
            // padding: 15px;
            cursor: pointer;
        }
        
    }
    .menu {
        .menu-fon {
            z-index: 10;
            background: $color-ligth-blue;
            opacity: 0.6;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
        }
        .menu-box {
            z-index: 11;
            background: $color-ligth-blue;
            width: 250px;
            height: 400px;
            position: fixed;
            // top: 70px;
            top: -400px;
            right: 0;
            border-radius: 0 0 0 20px;

            // -webkit-transition: top 1s ease-out 0.5s;
            // -moz-transition: top 1s ease-out 0.5s;
            // -o-transition: top 1s ease-out 0.5s;
            transition: top .5s;

            border-left: 2px solid $color-beige;
            border-bottom: 2px solid $color-beige;

            span {
                position: absolute;
                top: 5px;
                left: 5px;
                font-size: 2rem;
                font-weight: 600;
                padding: 0 10px;
                // margin: 5px;
                border: 2px solid;
                border-radius: 50%;
                cursor: pointer;
            }
            .menu-url {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                a {
                    padding: 20px;
                    font-size: 1.5rem;
                }
                
                a,
                a:visited {
                    color: $color-blue;
                }
            }
        }
    }

}
@media (max-width: 700px) {
    .header {
        height: $height - 80px;
        .header-box {
            display: none;
        }
        .header-menu {
            display: block;
        }
    }
    .header:hover .menu {
        // top: 70px;
    }
}

@media (max-width: 360px) {
    .header {
        height: $height - 50px;
        .header-box {
            height: $height - 50px;
        }
        h4 {
            font-size: 0.6rem;
        }
    }
}