<app-header></app-header>

<div class="body">

    <h1>Мысли в цвете</h1>

    <div>

        <img src="assets/img/bird.jpg" alt="bird" />
        <p>Птица Снегирь Зимний Долгожданный Гость ☀️ Автор Виктор Игоревич Лютиков</p>

    </div>
    <div>
        
        <p>Праздничный Салют ☀️ Автор Виктор Игоревич Лютиков</p>
        <img src="assets/img/salute.jpg" alt="salute" />

    </div>
    <div>

        <img src="assets/img/karakuli.jpg" alt="karakuli" />
        <p>Название отсутствует ☀️ Автор Виктор Игоревич Лютиков</p>

    </div>

</div>

<app-footer></app-footer>