$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

.footer {
    // display: flex;
    height: 200px;
    background: $color-dark-blue;
    padding: 10px;
    // display: flex;
    // flex-direction: row;
    h1 {
        margin: auto;
    }
    a {
        display: flex;
        padding: 8px 20px;
        font-size: 1.5rem;
        // color: $color-ligth-blue;
    }
    a:first-child {
        padding-bottom: 30px;
        // border-bottom: 1px solid;
    }
}