
$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

body {
  background: $color-beige;
  color: $color-dark-blue;
}

* {
    margin: 0;
    padding: 0;
}
  
  ul {
    list-style: none;
  }
  
  a,
  a:visited,
  a:hover {
    // color: #1976d2;
    color: $color-ligth-blue;
    text-decoration: none;
  }
  
  a:hover {
    // color: #125699;
    opacity: 0.5;
  }
  
  .routes {
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
    margin: 10px 50px 50px 50px;
  }
  
  .r {
    background: red;
    color: rgb(212, 212, 212);
    text-shadow: 0px 1px 0px #adadad;
  }
  
  
  button:disabled { 
    background: black; 
    cursor: inherit;
  }