<div class="about">
    <div class="about-box">
        <h4>Правильно ☀️ Здоровей ☀️ пей вместе с ПК "РУСинэко" С утра ❤️ Иван Чай ❤️ и БОГатей от ☀️ Дом Кипрея ☀️ прямо СЕЙЧАС от Счастья Балдея</h4>
        <img src="assets/img/ivan-tea.jpg" alt="ivan-tea">
    </div>

    <div class="about_mission">
        <h4>Миссия <br/>= АРТели  ПОтребительских  КООПеративов = <br/>АПК 🏡Дом🌏🌍🌎Кипрея🌿</h4>

        <p>ПРАВИльное качество ЭКОпродуктов и ЭКОуслуг  предоставить  🚟 в КАждый 🏡Дом от 🏡 Дома Кипрея 🌿 <a href="https://ДомКипрея.рус">ДомКипрея.рус</a></p>

        <p>для ЗАщиты иммунитета и Удобного заказа Иван Чая , как РЕЗУЛЬТАТ Бодрости ДУХА !!! Души и Тела чтобы каждая Порядочная Семья ЖИла в ЗДРАВом Изобилии и БОГатела !!!</p>

        <h4>Цели <br/>= АПК 🏡Дом🌏🌍🌎Кипрея🌿 =</h4>

        <p>Разумно производя и потребляя <a href="https://ПриродныеПродукты.рус">Природные Продукты</a> 🙌 выращеные 🌱под Ярилом ☀️Солнцем☀️ с Любовью😍 на БЛАГО своего ПОРЯДОЧНЫХ и СпраВедливых ☀️РОДов🌳 и приРОДы, рАЗкрываем монетизируя за Дорого СВАи  Таланты и накапливаем Электронные Кооперативные Паи = ЭКП 🏡Дом🌏🌍🌎Кипрея🌿 по совести ✍️ обмениваем на ☀️Автономные 🏡ЭКОдома поддерживая🤝 традиции Предков🌳 Полностью Доверяя СоРатникам вместе с <a href="https://kopnik.org">kopnik.org</a> 🙌 Державы🏡 Света☀️ ВеликаяРУСь☀️🌳🌊🌿🌲🌳🌍🌊🌿🌲🌳🌏🌊🌿🌲🌳🌎🌊🌿🌲🌳☀️</p>
        
    </div>
</div>