
$color-red: #e63946; 
$color-beige: #f1faee;
$color-ligth-blue: #a8dadc;
$color-blue: #457b9d; 
$color-dark-blue: #1d3557;

.about {
    background: $color-beige;
    // width: 100%;
    
    padding: 10px;

    // background: rgb(221, 228, 238);

    .about-box {
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-height: 200px;
        // background: rgb(221, 228, 238);

        img {
            width: 150px;
        }
        h4 {
            padding: 10px;
            font-size: 1rem;
        }
    }
}
@media (min-width: 1000px) { // от 1000
    .about {
        padding: 50px 300px;
    }
}
@media (max-width: 999px) and (min-width: 650px) { // от 650 до 1000
    .about {
        padding: 20px 100px;
    }
}
@media (max-width: 450px) { // до 450
    .about {
        .about-box {
            img {
                width: 100px;
            }
            h4 {
                font-size: 0.8rem;
            }
        }
    }
}
@media (max-width: 350px) { // до 350
    .about {
        .about-box {
            img {
                width: 100px;
            }
            h4 {
                font-size: 0.6rem;
            }
        }
    }
}